.image-upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.upload-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.profile-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.upload-text {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}

footer .container {
  max-width: 960px;
}

footer p,
footer a {
  margin: 0;
  padding: 0;
  color: #555;
}
